<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>com.iotbay.Controller.ConnServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>com.iotbay.Controller.RegisterController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.iotbay.Controller.LoginController</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UnregisterController</servlet-name>
        <servlet-class>com.iotbay.Controller.UnregisterController</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UnregisterController</servlet-name>
        <url-pattern>/UnregisterController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>com.iotbay.Controller.UpdateController</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/UpdateController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PackageController</servlet-name>
        <servlet-class>com.iotbay.Controller.PackageController</servlet-class>
        <load-on-startup>6</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>PackageController</servlet-name>
        <url-pattern>/PackageController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterPanelController</servlet-name>
        <servlet-class>com.iotbay.Controller.RegisterPanelController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterPanelController</servlet-name>
        <url-pattern>/RegisterPanelController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateUserPanelController</servlet-name>
        <servlet-class>com.iotbay.Controller.UpdateUserPanelController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUserPanelController</servlet-name>
        <url-pattern>/UpdateUserPanelController</url-pattern>
    </servlet-mapping>
</web-app>
