<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    

    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>com.iotbay.Controller.ConnServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>com.iotbay.Controller.CustomerAndStaffManagement.RegisterController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.iotbay.Controller.CustomerAndStaffManagement.LoginController</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UnregisterController</servlet-name>
        <servlet-class>com.iotbay.Controller.CustomerAndStaffManagement.UnregisterController</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UnregisterController</servlet-name>
        <url-pattern>/UnregisterController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>com.iotbay.Controller.CustomerAndStaffManagement.UpdateController</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/UpdateController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PackageController</servlet-name>
        <servlet-class>com.iotbay.Controller.PackageController</servlet-class>
        <load-on-startup>6</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>PackageController</servlet-name>
        <url-pattern>/PackageController</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>FlightCatalogueController</servlet-name>
        <servlet-class>com.iotbay.Controller.FlightCatalogueController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>FlightCatalogueController</servlet-name>
        <url-pattern>/FlightCatalogueController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FilteringFlightController</servlet-name>
        <servlet-class>com.iotbay.Controller.FilteringFlightController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>FilteringFlightController</servlet-name>
        <url-pattern>/FilteringFlightController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddFlightController</servlet-name>
        <servlet-class>com.iotbay.Controller.AddFlightController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddFlightController</servlet-name>
        <url-pattern>/AddFlightController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateFlightController</servlet-name>
        <servlet-class>com.iotbay.Controller.UpdateFlightController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateFlightController</servlet-name>
        <url-pattern>/UpdateFlightController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteFlightController</servlet-name>
        <servlet-class>com.iotbay.Controller.DeleteFlightController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteFlightController</servlet-name>
        <url-pattern>/DeleteFlightController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddFlightToCartController</servlet-name>
        <servlet-class>com.iotbay.Controller.AddFlightToCartController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
        <servlet-mapping>
        <servlet-name>AddFlightToCartController</servlet-name>
        <url-pattern>/AddFlightToCartController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>com.iotbay.Controller.CartController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/CartController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PlaceOrderController</servlet-name>
        <servlet-class>com.iotbay.Controller.PlaceOrderController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>PlaceOrderController</servlet-name>
        <url-pattern>/PlaceOrderController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateFlightOrderController</servlet-name>
        <servlet-class>com.iotbay.Controller.UpdateFlightOrderController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateFlightOrderController</servlet-name>
        <url-pattern>/UpdateFlightOrderController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CancelOrderController</servlet-name>
        <servlet-class>com.iotbay.Controller.CancelOrderController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CancelOrderController</servlet-name>
        <url-pattern>/CancelOrderController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PostOrderController</servlet-name>
        <servlet-class>com.iotbay.Controller.PostOrderController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostOrderController</servlet-name>
        <url-pattern>/PostOrderController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PaymentController</servlet-name>
        <servlet-class>com.iotbay.Controller.PaymentController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaymentController</servlet-name>
        <url-pattern>/PaymentController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateFlightFormController</servlet-name>
        <servlet-class>com.iotbay.Controller.UpdateFlightFormController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateFlightFormController</servlet-name>
        <url-pattern>/UpdateFlightFormController</url-pattern>
    </servlet-mapping>

    <servlet>
    <servlet-name>EditPackageController</servlet-name>
    <servlet-class>com.iotbay.Controller.EditPackageController</servlet-class>
    <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditPackageController</servlet-name>
        <url-pattern>/EditPackageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeletePackageController</servlet-name>
        <servlet-class>com.iotbay.Controller.DeletePackageController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeletePackageController</servlet-name>
        <url-pattern>/DeletePackageController</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>PackageDetailsController</servlet-name>
    <servlet-class>com.iotbay.Controller.PackageDetailsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PackageDetailsController</servlet-name>
        <url-pattern>/PackageDetailsController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CruiseController</servlet-name>
        <servlet-class>com.iotbay.Controller.CruiseController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CruiseController</servlet-name>
        <url-pattern>/CruiseController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddHotelController</servlet-name>
        <servlet-class>com.iotbay.Controller.AddHotelController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddHotelController</servlet-name>
        <url-pattern>/AddHotelController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HotelCatalogueController</servlet-name>
        <servlet-class>com.iotbay.Controller.HotelCatalogueController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>HotelCatalogueController</servlet-name>
        <url-pattern>/HotelCatalogueController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateHotelFormController</servlet-name>
        <servlet-class>com.iotbay.Controller.UpdateHotelFormController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateHotelFormController</servlet-name>
        <url-pattern>/UpdateHotelFormController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateHotelController</servlet-name>
        <servlet-class>com.iotbay.Controller.UpdateHotelController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateHotelController</servlet-name>
        <url-pattern>/UpdateHotelController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteHotelController</servlet-name>
        <servlet-class>com.iotbay.Controller.DeleteHotelController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteHotelController</servlet-name>
        <url-pattern>/DeleteHotelController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FilteringHotelController</servlet-name>
        <servlet-class>com.iotbay.Controller.FilteringHotelController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>FilteringHotelController</servlet-name>
        <url-pattern>/FilteringHotelController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddHotelToCartController</servlet-name>
        <servlet-class>com.iotbay.Controller.AddHotelToCartController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddHotelToCartController</servlet-name>
        <url-pattern>/AddHotelToCartController</url-pattern>
    </servlet-mapping>

    <servlet>
    <servlet-name>CruiseDetailsController</servlet-name>
    <servlet-class>com.iotbay.Controller.CruiseDetailsController</servlet-class>
    <load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
    <servlet-name>CruiseDetailsController</servlet-name>
    <url-pattern>/CruiseDetailsController</url-pattern>
</servlet-mapping>

<servlet>
        <servlet-name>EditCruiseController</servlet-name>
        <servlet-class>com.iotbay.Controller.EditCruiseController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditCruiseController</servlet-name>
        <url-pattern>/EditCruiseController</url-pattern>
    </servlet-mapping>

 
    <servlet>
        <servlet-name>DeleteCruiseController</servlet-name>
        <servlet-class>com.iotbay.Controller.DeleteCruiseController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCruiseController</servlet-name>
        <url-pattern>/DeleteCruiseController</url-pattern>
    </servlet-mapping>


</web-app>
